<flynt-component load:on="visible" name="BlockEventDescription" class="boxed">
  <div class="flex flex-col lg:flex-row align-top justify-between gap-lg">
    <div class="content lg:w-2/3">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
    <div class="links lg:w-1/3 flex flex-col gap-sm">
      {% for link in repeaterLinks %}
        <a class="download button button--full" href="{{ link.rsvpLink.url|e }}" target="_blank" rel="noreferrer noopener">
          <div class="download-title">
            <p class="sans">{{ link.rsvpLink.title|e }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</flynt-component>
