flynt-component[name='BlockCta'] {
  // @apply bg-blue;
  background: linear-gradient(90deg, #263978 40%, #e6ecee 125%);

  .content {
    > :last-child {
      margin-block-end: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      br {
        content: '\00a0';
      }
    }
  }

  [data-text-align='left'] {
    text-align: start;
  }

  [data-text-align='center'] {
    text-align: center;
  }
}
