<flynt-component load:on="visible" name="BlockImageLink">
  <flynt-component class="listing boxed" id="listingArtists">
    {% for box in boxes %}
        <a href="{{ box.blockLink }}" class="box" id="box">
          <img class="figure-image lazyload"
            src="{{ box.image.src }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', box.image.id)}}"
            data-sizes="auto">
        </a>
    {% endfor %}
  </div>
</flynt-component>
