flynt-component[name='BlockEventHeader'] {
  .wrapper {
    padding: 0 var(--spacingLarge);
  }

  .featuredImage {
    padding-bottom: var(--spacingLarge);
    width: 100%;

    img {
      aspect-ratio: 16/6;
      object-fit: cover;

      @media (max-width: $breakpoint-tablet) {
        aspect-ratio: 16/9;
      }
    }
  }
}
