flynt-component[name='BlockManifesto'] {
  align-items: center;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-mobile) {
    height: calc(100vh - 320px);
  }

  .content {
    padding: var(--spacingSmall);
  }

  .grid {
    @include reset-list;
    counter-reset: section;
    display: grid;
    gap: var(--spacingSmall);
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-mobile) {
      gap: var(--spacingLarge);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .panel {
    border: 1px solid var(--black);

    &-trigger {
      align-items: flex-start;
      cursor: pointer;
      display: flex;
      font-weight: 800;
      gap: var(--spacingSmall);
      height: 100%;
      justify-content: flex-start;
      margin: 0;
      padding: var(--spacingSmall);
      position: relative;
      width: 100%;
      z-index: 2;

      &:hover,
      &:focus {
        background: var(--black);
        color: var(--white);
      }

      h1 {
        line-height: 0.9;
      }
    }

    // do not add margins or padding to this, it will break the layout
    &-content {
      align-items: center;
      color: var(--white);
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      margin: 0 auto;
      padding: var(--spacingSmall) var(--spacingLarge);
      position: fixed;
      top: 0;
      transition: all 0.3s ease-in-out;
      width: 100%;
      z-index: 1000;
      
    }

    // add custom paddings here
    &-inner {
      background: var(--blue);
      padding: var(--spacingSmall);
      width: 90%;

      @media (min-width: $breakpoint-tablet) {
        padding: var(--spacingSmall) var(--spacingLarge);
        width: 40%;
      }

      .title {
        align-items: flex-start;
        display: flex;
        flex-flow: row;
        gap: var(--spacingSmall);
        justify-content: space-between;
        text-align: left;

        * {
          margin-block-start: 0;
        }

        .h2 {
          @media (min-width: $breakpoint-tablet) {
            width: 75%;
          }
        }

        .close {
          cursor: pointer;
        }

        svg {
          height: 30px;
        }
      }

      .text {
        margin: var(--spacingLarge) auto;

        @media (min-width: $breakpoint-tablet) {
          margin: var(--spacingLarge) auto;
          width: 75%;
        }
      }
    }
  }

  .rotate180 {
    transform: rotate(180deg);
  }
}
